<!-- Header -->
<header class="main-header header-three text-white">
    <div class="header-top-wrap bg-blue py-10">
        <div class="container">
            <div class="header-top">
                <div class="top-left">
                    <ul>
                        <li>Call Us: <a href="tel:07084998494">07084998494, 08066573156</a></li>
                        <li>Email us: <a href="mail:adedams@technology.com">adedams@technology.com</a></li>
                    </ul>
                </div>
                <div class="top-right">
                    <div class="office-time">
                        <i class="far fa-clock"></i><span>08:00 am - 05:00 pm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Ends -->