<!-- Menu -->
        <!--Header-Upper-->
        <header class="main-header header-three text-white">
            <div class="header-upper">
                <div class="container clearfix mb-0">
    
                    <div class="header-inner d-flex align-items-center">
                        <div class="logo-outer">
                            <div class="logo">
                                <a routerLink="/">
                                    <h2>FmarK</h2>
                                    <!-- <img src="assets/images/logos/logo.png" width="30%" height="40%" alt="Logo" title="Logo"> -->
                                </a>
                            </div>
                        </div>
    
                        <div class="nav-outer clearfix d-flex align-items-center">
                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header">
                                    <div class="mobile-logo py-15">
                                        <a routerLink="/">
                                             <h2>FmarK</h2>
                                            <!-- <img src="assets/images/logos/logo.png" width="30%" height="40%" alt="Logo" title="Logo"> -->
                                        </a>
                                    </div>
    
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
    
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix my-nav">
                                        <li class="current "><a class="my-home" routerLink="/home" routerLinkActive="active">Home</a>
                                        </li>
                                        <li class=""><a routerLink="/signup" routerLinkActive="active">Sign Up</a>
                                        </li>
                                        <li class=""><a routerLink="/product-services" routerLinkActive="active">Log In</a>
                                        </li>
                                        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                                    </ul>
                                </div>
    
                            </nav>
                            <!-- Main Menu End-->
    
                            <!-- Menu Button -->
                            <div class="menu-btn">
                                <a routerLink="/contact" class="theme-btn">meet with us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--End Header Upper-->
<!-- Menu Ends -->